* {
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
  padding: 0;
}

body {
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.Lab {
  position: relative;
  margin: 30px auto;
  width: 90%;
  height: 90vh;
  background-color: lightblue;
}

/* ------ PORTALES ------- */

.Portal {
  float: left;
  width: 7%;
  height: 120px;
  background-color: green;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 10pt;
}

/* Portal Origen */

.Origen {
  margin-left: 23%;
}

/* ----- PERSONAJES ------ */
.Personajes {
  position: absolute;
  width: 5%;
  height: 90px;
  background-color: purple;
  font-size: 8pt;
}

/* Personaje: Aaron */
.Aaron {
  margin-top: 90px;
  margin-left: 16%;
}

/* Personaje: Amelia */
.Amelia {
  margin-top: 320px;
  margin-left: 1%;
}

/* Personaje: April */
.April {
  margin-top: 38%;
  margin-left: 40%;
}

/* Personaje: Theo */
.Theo {
  margin-top: 38%;
  margin-left: 50%;
}

/* Personaje: Luke */
.Luke {
  margin-top: 220px;
  margin-left: 90%;
}

/* Personaje: Giles */
.Giles {
  margin-top: 350px;
  margin-left: 85%;
}

/* ------ ASSETS ------ */
.Assets {
  position: absolute;
  background-color: gray;
}

/* Assets: Biblioteca */
.Biblioteca {
  left: -6%;
  top: -30px;
  width: 8%;
  height: 170px;
}

/* Assets: Mesa */
.Mesa {
  top: 430px;
  width: 20%;
  height: 95px;
}

/* Assets: Sillas */

.Silla1 {
  top: 360px;
  left: 8%;
  width: 4%;
  height: 50px;
}

.Silla2 {
  top: 360px;
  left: 14%;
  width: 4%;
  height: 50px;
}

/* Assets: Tv */

.Tv {
  top: 45%;
  left: 39%;
  height: 150px;
  width: 18%;
}

/* Assets: Pesas */

.Pesas1 {
  top: 220px;
  left: 96%;
  width: 3%;
  height: 40px;
}

.Pesas2 {
  top: 270px;
  left: 96%;
  width: 3%;
  height: 40px;
}


/* Assets: Saco De Boxeo */

.SacoBoxeo {
  top: 340px;
  left: 92%;
  width: 5%;
  height: 150px;
}
